.header {
  background-color: white;
}

.header .header-wrap {
  width: 100%;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.header .header-wrap .flow-form {
  overflow: hidden;
  height: 34vw;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.header .header-wrap .flow-form .class-hide {
  visibility: hidden;
  height: 0;
}

.header .header-wrap .flow-form .inside-image {
  width: 100vw;
  margin-top: 0;
}

.header .header-wrap .flow-form .inside-preloader {
  background-color: white;
  width: 100vw;
  margin-top: 0;
  vertical-align: top;
}

.header .header-wrap .flow-form .inside-preloader .box-preloader {
  padding-bottom: 34vw;
  padding-left: calc( ( 100vw - 10vw ) / 2);
  padding-top: 16vw;
}

.header .header-wrap .flow-form .inside-preloader .box-preloader img {
  width: 10vw;
}

.header .header-wrap .flow-form .inside-swf {
  width: 100vw;
  margin-top: -30vw;
}

.header .header-wrap .flow-form .inside-swf .box-swf video {
  width: 100vw;
  height: 100vw;
}

.header .header-wrap .class-main-headed-fix {
  position: absolute;
  top: 32px;
  left: 0;
}

.header .header-wrap .box-main-menu {
  width: 100%;
}

.header .header-wrap .box-main-menu a {
  text-decoration: none;
}

.header .header-wrap .box-main-menu .class-hide {
  visibility: hidden;
  height: 0;
}

.header .header-wrap .box-main-menu .logo {
  display: inline-block;
  margin-left: 41px;
  padding-top: 15px;
  overflow: hidden;
}

.header .header-wrap .box-main-menu .block-nav {
  display: inline-block;
  vertical-align: top;
  margin-left: 21.6%;
  padding-top: 25px;
}

.header .header-wrap .box-main-menu .block-nav nav {
  display: inline-block;
}

.header .header-wrap .box-main-menu .block-nav nav ul li {
  display: inline-block;
  text-transform: uppercase;
  overflow: visible;
  position: relative;
  margin-right: 130px;
}

.header .header-wrap .box-main-menu .block-nav nav ul li:before {
  top: 0;
  left: -20px;
  -webkit-transform: rotate(105deg);
  transform: rotate(105deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 1;
  transition: all 0.3s;
  pointer-events: none;
}

.header .header-wrap .box-main-menu .block-nav nav ul li:after {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 1;
  transition: all 0.3s;
  pointer-events: none;
  right: -20px;
  bottom: -5px;
  -webkit-transform: rotate(105deg);
  transform: rotate(105deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.header .header-wrap .box-main-menu .block-nav nav ul li:hover:before {
  left: 50%;
  width: 40px;
  top: -10px;
  -webkit-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}

.header .header-wrap .box-main-menu .block-nav nav ul li:hover:after {
  right: 50%;
  width: 40px;
  bottom: -10px;
  -webkit-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}

.header .header-wrap .box-main-menu .block-nav nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  transition: 0.3s ease -webkit-transform;
  transition: 0.3s ease transform;
}

.header .header-wrap .box-main-menu .block-nav nav ul li a:hover {
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}

.header .header-wrap .box-main-menu .block-nav-other-header {
  display: inline-block;
  vertical-align: top;
  margin-left: 26%;
  padding-top: 56px;
}

.header .header-wrap .box-main-menu .block-nav-other-header nav {
  display: inline-block;
}

.header .header-wrap .box-main-menu .block-nav-other-header nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.header .header-wrap .box-main-menu .block-nav-other-header nav ul li:after, .header .header-wrap .box-main-menu .block-nav-other-header nav ul li:before {
  background-color: black;
}

.header .header-wrap .box-main-menu .block-nav-other-header nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

.header .header-wrap .box-main-menu .socials {
  float: right;
  margin-right: 1.25%;
  padding-top: 10px;
}

.header .header-wrap .box-main-menu .socials a {
  background: none;
  text-decoration: none;
}

.header .header-wrap .box-main-menu .socials .soc-set {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
}

.header .header-wrap .box-main-menu .socials .vk {
  background-color: #227da7;
  transition: 300ms ease background-color;
  -webkit-transition: 300ms ease background-color;
}

.header .header-wrap .box-main-menu .socials .vk:hover, .header .header-wrap .box-main-menu .socials .vk.active, .header .header-wrap .box-main-menu .socials .vk:active, .header .header-wrap .box-main-menu .socials .vk:focus {
  background-color: #ffbd27;
  text-decoration: none;
  outline: none;
}

.header .header-wrap .box-main-menu .socials .vk img {
  padding-top: 20px;
  padding-left: 16px;
}

.header .header-wrap .box-main-menu .socials .facebook {
  background-color: #095375;
  transition: 300ms ease background-color;
  -webkit-transition: 300ms ease background-color;
}

.header .header-wrap .box-main-menu .socials .facebook:hover, .header .header-wrap .box-main-menu .socials .facebook.active, .header .header-wrap .box-main-menu .socials .facebook:active, .header .header-wrap .box-main-menu .socials .facebook:focus {
  background-color: #ffbd27;
  text-decoration: none;
  outline: none;
}

.header .header-wrap .box-main-menu .socials .facebook img {
  padding-top: 16px;
  padding-left: 21px;
}

.header .header-wrap .box-main-menu .socials .google-plus {
  background-color: #c63632;
  transition: 300ms ease background-color;
  -webkit-transition: 300ms ease background-color;
}

.header .header-wrap .box-main-menu .socials .google-plus:hover, .header .header-wrap .box-main-menu .socials .google-plus.active, .header .header-wrap .box-main-menu .socials .google-plus:active, .header .header-wrap .box-main-menu .socials .google-plus:focus {
  background-color: #ffbd27;
  text-decoration: none;
  outline: none;
}

.header .header-wrap .box-main-menu .socials .google-plus img {
  padding-top: 19px;
  padding-left: 15px;
}

.other-logo-class {
  padding-top: 51px !important;
}

.class-for-fix {
  padding-top: 40px !important;
}

.promoblock-section {
  position: relative;
  padding-top: 152.25rem;
  background-color: #ea4f4f;
  overflow: hidden;
}

.promoblock-section .promoblock-wrapper {
  width: 100%;
  max-width: 1400px;
  background-color: #d84747;
  position: relative;
  z-index: 1;
  padding-top: 32rem;
  margin: 0 auto;
}

.promoblock-section .promoblock-wrapper .promoblock-item {
  display: inline-block;
  text-align: center;
  width: 32%;
  opacity: 0;
  transform: translate3d(0, -30%, 0);
  -webkit-transform: translate3d(0, 30%, 0);
  -moz-transform: translate3d(0, -30%, 0);
  -ms-transform: translate3d(0, -30%, 0);
  transition: transform 500ms ease, opacity 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease, opacity 500ms ease;
  -moz-transition: transform 500ms ease, opacity 500ms ease;
  -ms-transition: transform 500ms ease, opacity 500ms ease;
}

.promoblock-section .promoblock-wrapper .promoblock-item:first-child {
  opacity: 0;
  transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
}

.promoblock-section .promoblock-wrapper .promoblock-item:last-child {
  opacity: 0;
  transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
}

.promoblock-section .promoblock-wrapper .promoblock-item.animated {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.promoblock-section .promoblock-wrapper .promoblock-item .promoblock-text {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18rem;
  font-family: 'Roboto';
  padding-top: 54rem;
  margin-bottom: 148rem;
}

.promoblock-section:before {
  content: "";
  display: block;
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-width: 0 1rem;
  border-style: solid;
  border-color: #fff;
}

.promoblock-section:after {
  content: '';
  position: absolute;
  left: -104%;
  width: 100%;
  height: 6000px;
  top: 138px;
  background: #d84747;
  z-index: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform: rotate(-92deg);
  transform: rotate(-92deg);
  -moz-transform: rotate(-92deg);
  -ms-transform: rotate(-92deg);
}

.index {
  background-color: #E7E4E4;
}

.none {
  background-color: #E7E4E4;
}

.works-container {
  width: 100%;
  height: 500px;
}

.works-container .works-align {
  width: 100%;
  max-width: 1400px;
}

.works-container .works-align .works-mbox {
  margin: 0 auto;
  width: 100%;
}

.works-container .works-align .works-mbox .works-item-title {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.works-container .works-align .works-mbox .works-item-box {
  width: 100%;
  text-align: center;
}

.works-container .works-align .works-mbox .works-item-box .works-item {
  display: inline-block;
  width: 25%;
  padding-left: 4%;
  padding-right: 4%;
  vertical-align: top;
}

.works-container .works-align .works-mbox .works-item-box .works-item .item-setting {
  font-size: 18rem;
  font-family: 'Roboto';
  font-weight: 400;
  padding: 10rem 31rem 10rem 31rem;
}

.works-container .works-align .works-mbox .works-item-box .works-item .item-button {
  border: 1px solid #56626c;
  border-radius: 2px;
  background-color: white;
  text-transform: uppercase;
  padding: 10rem 31rem 10rem 31rem;
  min-width: 235rem;
}

.works-container .works-align .works-mbox .works-item-box .works-item .item-button a {
  text-decoration: none;
  font-size: 18rem;
  font-family: 'Roboto';
  font-weight: 400;
  color: #56626c;
}

@media screen and (min-width: 1920px) {
  .header .header-wrap .flow-form .inside-image {
    width: 1920px;
  }
  .header .header-wrap .flow-form {
    height: 653px;
  }
  .header .header-wrap .flow-form .inside-swf {
    width: 1920px;
    margin-top: -576px;
  }
  .header .header-wrap .flow-form .inside-swf .box-swf video {
    width: 1920px;
    height: 1920px;
  }
}
