/*footer*/
.footer-container {
  width: 100%;
  background-color: #01abaa;
  padding-bottom: 94px;
}

.footer-container .foot-content {
  width: 75%;
  margin: 0 auto;
  padding-top: 85px;
  max-width: 1920px;
}

.footer-container .foot-content .foot-mbox {
  display: inline-block;
  float: left;
  vertical-align: top;
}

.footer-container .foot-content .foot-mbox:nth-child(3) {
  margin-right: 0;
  float: right;
}

.footer-container .foot-content .foot-mbox:nth-child(1) {
  padding-left: 38px;
  width: 28%;
  margin-right: 152px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element {
  margin-bottom: 20px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element a {
  text-decoration: none;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element span {
  font-family: 'Gotham';
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 18rem;
  line-height: 24px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box:after {
  content: '';
  display: block;
  height: 0;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clear: both;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box {
  border-radius: 50%;
  border-color: #fff;
  border-width: 3px;
  display: block;
  width: 64px;
  height: 64px;
  border-style: solid;
  position: relative;
  float: left;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box img {
  width: 50px;
  top: 10px;
  left: 10px;
  position: absolute;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-sk {
  width: 41px;
  top: 9px;
  left: 8px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-ml {
  width: 40px;
  top: 16px;
  left: 8px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-ph {
  width: 38px;
  top: 11px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-vk {
  width: 39px;
  top: 21px;
  left: 9px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-fb {
  width: 19px;
  top: 11px;
  left: 20px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-gg {
  width: 36px;
  top: 14px;
  left: 11px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-text {
  float: left;
  padding: 23px 0 0 26px;
}

.footer-container .foot-content .foot-copyright {
  position: absolute;
  bottom: 41px;
  left: calc(50% - 90px);
}

.footer-container .foot-content .foot-copyright span {
  font-family: 'Roboto';
  font-weight: 500;
  color: #017473;
  text-transform: uppercase;
  font-size: 14rem;
}

/*/footer*/
/*we create*/
.margin-top-138px {
  margin-top: -138px;
}

.works-container {
  width: 100%;
  background-color: #fff;
  padding-bottom: 222px;
  overflow: hidden;
}

.works-container .works-align {
  width: 79%;
  margin: 0 auto;
  position: relative;
}

.works-container .works-align .works-mbox {
  padding-top: 199px;
}

.works-container .works-align .works-mbox .works-item {
  margin-bottom: 52px;
  -webkit-transform: translate(0, -5000px);
  transform: translate(0, -5000px);
  transition: -webkit-transform 600ms linear;
  transition: transform 600ms linear;
}

.works-container .works-align .works-mbox .works-item.animated {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.works-container .works-align .works-mbox .works-item span {
  font-family: 'Roboto';
  font-weight: 500;
  color: #56626c;
}

.works-container .works-align .works-mbox .works-item .item-title {
  margin-bottom: 5px;
  /*&:after{content:'';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}//cfix*/
}

.works-container .works-align .works-mbox .works-item .item-title .title-text {
  padding-top: 12px;
}

.works-container .works-align .works-mbox .works-item .item-title .title-text span {
  text-transform: uppercase;
  font-size: 35rem;
  margin-left: -44px;
  padding-top: 13px;
  display: inline-block;
}

.works-container .works-align .works-mbox .works-item .item-title .title-text i {
  width: 60px;
  height: 60px;
  border: solid 15px #eff0f0;
  display: inline-block;
  vertical-align: top;
}

.works-container .works-align .works-mbox .works-item .item-text {
  width: 290px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.works-container .works-align .works-mbox .works-item .item-text span {
  line-height: 21px;
  font-size: 18rem;
}

.works-container .works-align .works-mbox .works-item .item-button {
  display: inline-block;
  padding-left: 15px;
}

.works-container .works-align .works-mbox .works-item .item-button .item-button-border {
  display: block;
  border: solid 2px #56626c;
  border-radius: 5px;
  width: 238px;
  height: 63px;
  padding-top: 23px;
  text-decoration: none;
  text-align: center;
  transition: all 500ms linear;
}

.works-container .works-align .works-mbox .works-item .item-button .item-button-border:hover {
  background-color: #56626c;
}

.works-container .works-align .works-mbox .works-item .item-button .item-button-border:hover span {
  color: #fff;
}

.works-container .works-align .works-mbox .works-item .item-button .item-button-border span {
  font-size: 18rem;
  color: #56626c;
  text-transform: uppercase;
}

.works-container .left {
  float: left;
}

.works-container .left .works-item {
  text-align: right;
  width: 290px;
}

.works-container .right {
  float: right;
  margin-right: 19px;
}

.triangle-container {
  width: 695px;
  float: left;
  padding: 61px 39px 0 90px;
  position: relative;
}

.triangle-container .triangle-text {
  position: absolute;
  top: 144px;
  left: 74px;
  width: 100%;
  text-align: center;
}

.triangle-container .triangle-text span {
  font-family: 'Gotham',sans-serif;
  font-size: 50rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #56626c;
  letter-spacing: 3px;
}

.triangle-container .triangle-img {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: transform 600ms linear;
  -ms-transform: scale(0);
  -ms-transition: transform 600ms linear;
  -webkit-transform: scale(0);
  -webkit-transition: -webkit-transform 600ms linear;
  -moz-transform: scale(0);
  -moz-transition: transform 600ms linear;
  width: 695px;
}

.triangle-container .triangle-img.animated {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.man-back-container {
  margin: -438px 0 0 -221px;
}

.man-back-container .man-back-box {
  position: relative;
}

.man-back-container .man-back-box .layer {
  position: absolute;
}

.man-back-container .man-back-box .d7 {
  width: 438px;
  left: 310px;
  top: 0;
  -webkit-transform: translate(2000px, 0);
  transform: translate(2000px, 0);
  transition: transform 600ms linear;
  -moz-transform: translate(2000px, 0);
  -moz-transition: transform 600ms linear;
  -webkit-transform: translate(2000px, 0);
  -webkit-transition: -webkit-transform 600ms linear;
  -ms-transform: translate(2000px, 0);
  -ms-transition: transform 600ms linear;
}

.man-back-container .man-back-box .d7.animated {
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.man-back-container .man-back-box .dd {
  width: 139px;
  left: 280px;
  top: 520px;
  -webkit-transform: translate(-2000px, 0);
  transform: translate(-2000px, 0);
  transition: transform 600ms linear;
  -moz-transform: translate(-2000px, 0);
  -moz-transition: transform 600ms linear;
  -webkit-transform: translate(-2000px, 0);
  -webkit-transition: -webkit-transform 600ms linear;
  -ms-transform: translate(-2000px, 0);
  -ms-transition: transform 600ms linear;
}

.man-back-container .man-back-box .dd.animated {
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.man-back-container .man-back-box .db {
  width: 1108px;
  left: 0;
  top: 520px;
  -webkit-transform: translate(-2000px, 0);
  transform: translate(-2000px, 0);
  transition: transform 600ms linear;
  -moz-transform: translate(-2000px, 0);
  -moz-transition: transform 600ms linear;
  -webkit-transform: translate(-2000px, 0);
  -webkit-transition: -webkit-transform 600ms linear;
  -ms-transform: translate(-2000px, 0);
  -ms-transition: transform 600ms linear;
}

.man-back-container .man-back-box .db.animated {
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.man-back-container .man-back-box .df {
  width: 319px;
  left: 391px;
  top: 228px;
  -webkit-transform: translate(0, 500px);
  transform: translate(0, 500px);
  transition: transform 600ms linear;
  -moz-transform: translate(0, 500px);
  -moz-transition: transform 600ms linear;
  -webkit-transform: translate(0, 500px);
  -webkit-transition: -webkit-transform 600ms linear;
  -ms-transform: translate(0, 500px);
  -ms-transition: transform 600ms linear;
}

.man-back-container .man-back-box .df.animated {
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.man-back-container .man-back-box .dc {
  width: 158px;
  left: 552px;
  top: 229px;
  opacity: 0;
  transition: opacity 600ms linear;
  -webkit-transition: opacity 600ms linear;
  -ms-transition: opacity 600ms linear;
  -moz-transition: opacity 600ms linear;
}

.man-back-container .man-back-box .dc.animated {
  opacity: 0.1;
}

.man-back-container .man-back-box .d5 {
  width: 196px;
  left: 552px;
  top: -1px;
  opacity: 0;
  transition: opacity 600ms linear;
  -webkit-transition: opacity 600ms linear;
  -ms-transition: opacity 600ms linear;
  -moz-transition: opacity 600ms linear;
}

.man-back-container .man-back-box .d5.animated {
  opacity: 0.1;
}

/*/we create*/
/*team*/
.container-team {
  width: 100%;
  padding-bottom: 603px;
  overflow: hidden;
}

.container-team .team-align .title-top {
  color: #303030;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Gotham';
}

.container-team .team-align .items-wrapper {
  width: 68%;
  margin: -606px auto 0;
}

.container-team .team-align .items-wrapper .man-mbox {
  width: 20%;
  float: left;
  text-align: center;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team {
  position: relative;
  display: inline-block;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team span {
  font-family: 'Roboto';
  color: #333;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-arrow {
  width: 0;
  height: 0;
  border-width: 150px 5px 5px 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
  position: absolute;
  left: calc(50% - 4px);
  top: 50%;
  z-index: 1;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-mame {
  margin-bottom: 5px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-mame > span {
  font-size: 25px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-prof {
  margin-bottom: 9px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-prof > span {
  font-size: 16px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-foto {
  position: relative;
  z-index: 2;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-foto img {
  width: 111px;
  transition: all 300ms ease;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team:hover .man-foto {
  width: 150px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team:hover .man-foto img {
  width: 150px;
}

.container-team .team-align .items-wrapper .man-mbox:nth-child(2) .man-arrow {
  border-width: 144px 2px 2px 2px;
  left: 87%;
  top: 80%;
  -webkit-transform: rotate(-29deg);
  transform: rotate(-29deg);
}

.container-team .team-align .items-wrapper .man-mbox:nth-child(4) .man-arrow {
  border-width: 144px 2px 2px 2px;
  left: 27%;
  top: 80%;
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

/*/team*/
