.team-align {
  position: relative;
}

/*footer*/
.footer_placeholder {
  background-color: #01abaa;
}

.footer-container {
  width: 100%;
  background-color: #01abaa;
  padding-bottom: 94px;
}

.footer-container .foot-content {
  width: 75%;
  margin: 0 auto;
  padding-top: 85px;
  max-width: 1920px;
}

.footer-container .foot-content .foot-mbox {
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 28%;
}

.footer-container .foot-content .foot-mbox:nth-child(3) {
  margin-right: 0;
  float: right;
  width: 22%;
}

.footer-container .foot-content .foot-mbox:nth-child(1) {
  padding-left: 38px;
  margin-right: 152px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element, .footer-container .foot-content .foot-mbox .foot-mbox-align li, .footer-container .foot-content .foot-mbox ul .foot-menu-element, .footer-container .foot-content .foot-mbox ul li {
  margin-bottom: 20px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element a, .footer-container .foot-content .foot-mbox .foot-mbox-align li a, .footer-container .foot-content .foot-mbox ul .foot-menu-element a, .footer-container .foot-content .foot-mbox ul li a {
  text-decoration: none;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .magic-wrapp, .footer-container .foot-content .foot-mbox .foot-mbox-align li .magic-wrapp, .footer-container .foot-content .foot-mbox ul .foot-menu-element .magic-wrapp, .footer-container .foot-content .foot-mbox ul li .magic-wrapp {
  overflow: hidden;
  padding: 0 4px;
  height: 1em;
  display: block;
  margin-bottom: 26px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element span, .footer-container .foot-content .foot-mbox .foot-mbox-align li span, .footer-container .foot-content .foot-mbox ul .foot-menu-element span, .footer-container .foot-content .foot-mbox ul li span {
  font-family: 'Roboto';
  min-width: 160px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 16rem;
  position: relative;
  display: inline-block;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element span:before, .footer-container .foot-content .foot-mbox .foot-mbox-align li span:before, .footer-container .foot-content .foot-mbox ul .foot-menu-element span:before, .footer-container .foot-content .foot-mbox ul li span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 900;
  font-family: 'Roboto',sans-serif;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element span:hover, .footer-container .foot-content .foot-mbox .foot-mbox-align li span:hover, .footer-container .foot-content .foot-mbox ul .foot-menu-element span:hover, .footer-container .foot-content .foot-mbox ul li span:hover {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element span:focus, .footer-container .foot-content .foot-mbox .foot-mbox-align li span:focus, .footer-container .foot-content .foot-mbox ul .foot-menu-element span:focus, .footer-container .foot-content .foot-mbox ul li span:focus {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box:after, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box:after, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box:after, .footer-container .foot-content .foot-mbox ul li .foot-icon-box:after {
  content: '';
  display: block;
  clear: both;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box {
  border-radius: 50%;
  border-color: #fff;
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  float: left;
  box-shadow: 0 0 0 3px white;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box img, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box img, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box img, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box img {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-sk, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box .ic-sk, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box .ic-sk, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box .ic-sk {
  width: 41px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-ml, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box .ic-ml, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box .ic-ml, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box .ic-ml {
  width: 40px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-ph, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box .ic-ph, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box .ic-ph, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box .ic-ph {
  width: 38px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-vk, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box .ic-vk, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box .ic-vk, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box .ic-vk {
  width: 39px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-fb, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box .ic-fb, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box .ic-fb, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box .ic-fb {
  width: 19px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box .ic-gg, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box .ic-gg, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box .ic-gg, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box .ic-gg {
  width: 36px;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box:hover, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box:hover, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box:hover, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box:hover {
  box-shadow: 0 0 0 5px white;
  color: #fff;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box:hover:before, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box:hover:before, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box:hover:before, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box:hover:before {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-box:before, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-box:before, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-box:before, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-box:before {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 2px #fff;
  transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

.footer-container .foot-content .foot-mbox .foot-mbox-align .foot-menu-element .foot-icon-box .icon-text, .footer-container .foot-content .foot-mbox .foot-mbox-align li .foot-icon-box .icon-text, .footer-container .foot-content .foot-mbox ul .foot-menu-element .foot-icon-box .icon-text, .footer-container .foot-content .foot-mbox ul li .foot-icon-box .icon-text {
  float: left;
  overflow: hidden;
  padding: 0 4px;
  height: 1em;
  margin: 23px 0 0 22px;
}

.footer-container .foot-content .foot-copyright {
  position: absolute;
  bottom: 41px;
  left: calc(50% - 90px);
}

.footer-container .foot-content .foot-copyright span {
  font-family: 'Roboto';
  font-weight: 500;
  color: #017473;
  text-transform: uppercase;
  font-size: 14rem;
}

/*/footer*/
/*team*/
.canv-wrapp-main {
  position: relative;
  padding: 0 0 817px;
  margin-top: -170px;
}

.canv-wrapp-main .canv-wrapp {
  position: absolute;
  left: 50%;
}

.canv-wrapp-main .canv-wrapp .canv-align {
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.container-team .team-align .title-top {
  padding-left: 110px;
  color: #303030;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto';
  top: 19px;
  margin-bottom: -25px;
  position: relative;
  z-index: 2;
}

.container-team .team-align .items-wrapper {
  width: 1294px;
  position: absolute;
  left: calc(50% - 647px);
  top: 60px;
  z-index: 2;
}

.container-team .team-align .items-wrapper .man-mbox {
  width: 20%;
  float: left;
  text-align: center;
  z-index: 1;
  position: relative;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team {
  position: relative;
  display: inline-block;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team span {
  font-family: 'Roboto';
  color: #333;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-arrow {
  width: 0;
  height: 0;
  border-width: 150px 5px 5px 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
  position: absolute;
  left: calc(50% - 4px);
  top: 50%;
  z-index: 1;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-mame {
  margin-bottom: 5px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-mame > span {
  font-size: 25px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-prof {
  margin-bottom: 9px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-prof > span {
  font-size: 16px;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-foto {
  position: relative;
  z-index: 2;
}

.container-team .team-align .items-wrapper .man-mbox .box-wrapper-team .man-foto img {
  width: 111px;
  transition: all 300ms ease;
}

.container-team .team-align .items-wrapper .man-mbox:nth-child(2) .man-arrow {
  border-width: 144px 2px 2px 2px;
  left: 87%;
  top: 80%;
  -webkit-transform: rotate(-29deg);
  transform: rotate(-29deg);
}

.container-team .team-align .items-wrapper .man-mbox:nth-child(4) .man-arrow {
  border-width: 144px 2px 2px 2px;
  left: 27%;
  top: 80%;
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

.header {
  background-color: transparent;
  z-index: 100;
  position: relative;
}

.pseudo-canv {
  display: none;
}

.blue-items {
  display: none;
}

/*/team*/
@media screen and (max-width: 1600px) {
  /* footer */
  .footer-container .foot-content {
    width: 90%;
  }
  .footer-container .foot-content .foot-mbox {
    width: 31%;
  }
  .footer-container .foot-content .foot-mbox:nth-child(1) {
    margin-right: 70px;
  }
  .footer-container .foot-content .foot-mbox:nth-child(3) {
    width: 26%;
  }
  /* /fotter */
}

@media screen and (max-width: 1280px) {
  /*team*/
  .pseudo-canv {
    display: block;
    margin: 170px 0 0;
  }
  .canv-wrapp-main {
    display: none;
  }
  .container-team .team-align .items-wrapper {
    width: 100%;
    left: 0;
  }
  .container-team .team-align .title-top {
    top: 0;
  }
  /*/team*/
  /* footer */
  .footer-container .foot-content {
    width: 90%;
  }
  .footer-container .foot-content .foot-mbox {
    width: 34%;
  }
  .footer-container .foot-content .foot-mbox:nth-child(1) {
    margin-right: 00px;
  }
  .footer-container .foot-content .foot-mbox:nth-child(3) {
    width: 30%;
  }
  /* /fotter */
}

@media screen and (max-width: 1024px) {
  /*team*/
  .pseudo-canv {
    display: block;
    margin: -168px 0 0;
  }
  .container-team .team-align .title-top {
    display: none;
    /* top:-121px; left:127px;span{font-size: 19px;} */
  }
  .on-canv {
    display: none;
  }
  .blue-items {
    display: block;
    background-color: #01bcbb;
    padding: 6% 11%;
  }
  .blue-items .man-mbox {
    text-align: center;
    width: 20%;
    float: left;
  }
  .blue-items .man-mbox span {
    font-family: 'Roboto';
    color: #fff;
  }
  .blue-items .man-mbox .man-mame {
    margin-bottom: 5px;
  }
  .blue-items .man-mbox .man-mame > span {
    font-size: 25px;
  }
  .blue-items .man-mbox .man-prof {
    margin-bottom: 9px;
  }
  .blue-items .man-mbox .man-prof > span {
    font-size: 16px;
  }
  .blue-items .man-mbox .man-foto {
    position: relative;
  }
  .blue-items .man-mbox .man-foto img {
    width: 111px;
    transition: all 300ms ease;
  }
  /*/team*/
  .header .header-wrap .box-main-menu .block-nav.block-nav-other-header.team .sendwich-icon {
    top: 23rem;
  }
  /* footer */
  .footer-container .foot-content {
    width: 100%;
  }
  .footer-container .foot-content .foot-mbox {
    width: 32%;
  }
  .footer-container .foot-content .foot-mbox:nth-child(1) {
    margin-right: 0px;
  }
  .footer-container .foot-content .foot-mbox:nth-child(3) {
    width: 32%;
    margin-right: 0px;
  }
  /* /footer */
}

@media screen and (max-width: 992px) {
  /*team*/
  .pseudo-canv {
    margin: 0 0 0;
  }
  .blue-items {
    padding: 6% 6%;
  }
  /*/team*/
  /* footer */
  .footer-container {
    padding-bottom: 24px;
  }
  .footer-container .foot-content {
    padding-top: 150px;
  }
  .footer-container .foot-content .foot-mbox {
    display: block;
    width: 100% !important;
  }
  .footer-container .foot-content .foot-mbox .icon-text {
    display: none;
  }
  .footer-container .foot-content .foot-mbox .foot-menu-element {
    display: inline-block;
    width: calc(33.33% - 3rem);
    text-align: center;
  }
  .footer-container .foot-content .foot-mbox .foot-menu-element a {
    display: inline-block;
  }
  .footer-container .foot-content .foot-mbox:nth-child(1) {
    display: none;
  }
  .footer-container .foot-content .foot-mbox:nth-child(3) {
    position: absolute;
    top: 65px;
  }
  .footer-container .foot-content .foot-copyright {
    display: none;
  }
  /* /footer */
}

@media screen and (max-width: 767px) {
  /*team*/
  .blue-items .man-mbox {
    width: 50%;
    padding-bottom: 10px;
  }
  .blue-items .man-mbox:nth-child(1) {
    width: 100%;
  }
  .header .header-wrap .box-main-menu .block-nav.block-nav-other-header.team .sendwich-icon {
    top: 18rem;
  }
  /*/team*/
}

@media screen and (max-width: 479px) {
  .blue-form-wrapper {
    margin-top: -75rem;
  }
}

/*404*/
section.page404 {
  margin-top: -140px;
  position: relative;
}

section.page404 .page404-align {
  background-color: transparent;
  background-image: url(../images/bg404.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: 0;
}

section.page404 .page404-align .img {
  width: 100%;
  text-align: center;
  z-index: 60;
  padding: 104px 0 157px;
}

section.page404 .page404-align .canv-404-wrap {
  position: absolute;
  z-index: 50;
  top: -39px;
  width: 100%;
}

.header.page404 .header-wrap .box-main-menu .block-nav-other-header,
.header.page404 .other-header-wrap .box-main-menu .socials.class-for-fix {
  display: none;
}

section.page404 + .footer_placeholder + footer.footer .footer-container {
  background-color: #ea4f4f;
}

@media screen and (max-width: 768px) {
  section.page404 {
    margin-top: -211px;
  }
  section.page404 .page404-align .img {
    padding: 175px 20px 150px;
  }
  section.page404 .page404-align .canv-404-wrap {
    position: absolute;
    z-index: 50;
    top: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  section.page404 .page404-align .img {
    padding: 175px 20px 229px;
  }
}

/*END 404*/
