.blue-form-wrapper {
  padding: 5%;
  position: relative;
  min-width: 700px;
  padding-bottom: 9.4%;
  z-index: 1;
  margin-top: -138px;
}

.blue-form-wrapper .wrapper-blue {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
}

.blue-form-wrapper .blue-form {
  padding-top: 165px;
}

.blue-form-wrapper .blue-from-imageblock {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blue-form-wrapper .blue-from-imageblock .shapes-wrap {
  position: absolute;
  border: 15px solid #007473;
  width: 51.7%;
  height: 95.6%;
  top: -10.4%;
  left: 12.7%;
}

.blue-form-wrapper .blue-from-imageblock .shapes-wrap .shapes {
  background-image: url(../images/DESIGN.png);
  background-repeat: no-repeat;
  background-position: 87% 9%;
  width: 100%;
  height: 100%;
}

.blue-form-wrapper .blue-from-imageblock .illustration {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blue-form-wrapper .blue-from-imageblock .illustration .mac {
  position: absolute;
  top: -3.6%;
  left: 3.2%;
}

.blue-form-wrapper .blue-from-imageblock .illustration .imac {
  position: absolute;
  bottom: 3.7%;
  left: 38%;
}

.blue-form-wrapper .blue-from-imageblock .illustration .imac-smaller {
  position: absolute;
  left: 31.4%;
  bottom: 6.4%;
}

.blue-form-wrapper .form-blue {
  float: right;
  margin-right: 50px;
}

.blue-form-wrapper .form-logo {
  position: relative;
  padding-left: 76px;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.blue-form-wrapper .form-logo embed {
  float: right;
}

.blue-form-wrapper form .input-wrap {
  position: relative;
  margin-bottom: 34px;
}

.blue-form-wrapper form .input-wrap input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  font-family: 'roboto';
  font-size: 18rem;
  text-transform: uppercase;
  outline: none;
  padding: 0px 23px 10px 23px;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.blue-form-wrapper form .input-wrap input::-webkit-input-placeholder {
  color: #fff;
}

.blue-form-wrapper form .input-wrap input::-moz-placeholder {
  color: #fff;
}

.blue-form-wrapper form .input-wrap input:-moz-placeholder {
  color: #fff;
}

.blue-form-wrapper form .input-wrap input:-ms-input-placeholder {
  color: #fff;
}

.blue-form-wrapper form .input-wrap button {
  float: right;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 20px 65px 16px 65px;
  font-family: 'roboto';
  font-size: 18rem;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 500ms ease, color 500ms ease;
  -moz-transition: background-color 500ms ease, color 500ms ease;
  -webkit-transition: background-color 500ms ease, color 500ms ease;
  -ms-transition: background-color 500ms ease, color 500ms ease;
}

.blue-form-wrapper form .input-wrap button span {
  display: inline-block;
  width: 100%;
}

.blue-form-wrapper form .input-wrap button:hover {
  background-color: #fff;
  color: #00BCBC;
}

.blue-form-wrapper form .input-wrap:before {
  display: block;
  content: '';
  position: absolute;
  width: 2px;
  height: 3px;
  background-color: #fff;
  bottom: 2px;
  left: 0px;
}

.blue-form-wrapper form .button-submit:before {
  display: none;
}

.blue-form-wrapper form .last-input {
  margin-bottom: 60px;
}

.blue-form-wrapper:after {
  content: '';
  position: absolute;
  left: -105%;
  width: 100%;
  height: 8000px;
  top: 138px;
  background: #00BCBC;
  z-index: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform: rotate(-92deg);
  transform: rotate(-92deg);
  -moz-transform: rotate(-92deg);
  -ms-transform: rotate(-92deg);
}

/* animation */
.input-wrap {
  opacity: 0;
  transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
}

.input-wrap.animated {
  opacity: 1;
}

.illustration .mac {
  opacity: 0;
  transform: translate(-300%, 50%);
  -webkit-transform: translate(-300%, 50%);
  -moz-transform: translate(-300%, 50%);
  -ms-transform: translate(-300%, 50%);
  transition: opacity 3s ease, transform 1s ease;
  -webkit-transition: opacity 3s ease, -webkit-transform 1s ease;
  -moz-transition: opacity 3s ease, transform 1s ease;
  -ms-transition: opacity 3s ease, transform 1s ease;
  transition-delay: 1s;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
}

.illustration .mac.animated {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.illustration .imac {
  opacity: 0;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transition: opacity 1s ease, transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -moz-transition: opacity 1s ease, transform 1s ease;
  -ms-transition: opacity 1s ease, transform 1s ease;
}

.illustration .imac.animated {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.illustration .imac-smaller {
  opacity: 0;
  transform: translate(30%, 50%);
  -webkit-transform: translate(30%, 50%);
  -moz-transform: translate(30%, 50%);
  -ms-transform: translate(30%, 50%);
  transition: opacity 1s ease, transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -moz-transition: opacity 1s ease, transform 1s ease;
  -ms-transition: opacity 1s ease, transform 1s ease;
  transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
}

.illustration .imac-smaller.animated {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.vjs-control-text {
  transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  -ms-transition: transform 1s ease;
}

.our-work-item {
  opacity: 0;
  transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
}

.our-work-item.animated {
  opacity: 1;
}

/* /animation */
/* typed */
.typed-wrap {
  top: -41.5%;
  position: absolute;
  left: 17%;
  color: #fff;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* /typed */
/* video */
.red-video-block {
  padding-left: 5px;
}

.my-video-dimensions {
  width: 100% !important;
  height: 387px !important;
}

.video-js .vjs-big-play-button {
  height: 30%;
  width: 15%;
  top: 123px;
  right: 10px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-image: url(../images/play-button.png);
  background-position: 55% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  left: 65%;
}

.video-js .vjs-big-play-button:before {
  content: '';
}

.video-js .vjs-big-play-button:after {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: 28%;
  content: '';
  -webkit-animation: myOrbit 4s linear infinite;
  -moz-animation: myOrbit 4s linear infinite;
  -o-animation: myOrbit 4s linear infinite;
}

.video-js .vjs-big-play-button:hover:after {
  -webkit-animation: myOrbit 4s linear infinite;
  -moz-animation: myOrbit 4s linear infinite;
  -o-animation: myOrbit 4s linear infinite;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
}

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg);
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

.vjs-control-text {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

.vjs-big-play-button .vjs-control-text {
  position: relative;
  text-indent: -9999px;
  display: block;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  border: 1px solid red;
  overflow: visible;
  top: -9px;
  left: -10px;
}

.vjs-big-play-button .vjs-control-text:before {
  display: block;
  content: ' ';
  position: absolute;
  width: 116%;
  height: 116%;
  border-radius: 50%;
  border: 1px solid #686868;
  top: -8%;
  left: -8%;
}

.vjs-big-play-button .vjs-control-text:after {
  display: block;
  content: ' ';
  position: absolute;
  width: 126%;
  height: 126%;
  border-radius: 50%;
  border: 1px solid #545454;
  top: -13%;
  left: -13%;
}

p.video-desc {
  position: absolute;
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  font-size: 45rem;
  text-transform: uppercase;
  width: 30%;
  line-height: 1.2;
  top: 30%;
  left: 5%;
}

.vjs-play-control, .vjs-fullscreen-control, .vjs-volume-menu-button, .vjs-remaining-time {
  display: none !important;
}

.vjs-progress-control {
  width: 75% !important;
  margin: 0 auto !important;
  -webkit-flex: inherit !important;
  -ms-flex: inherit !important;
  flex: inherit !important;
}

.vjs-control-bar {
  background-color: transparent !important;
}

.video-js .vjs-play-progress:before, .video-js .vjs-play-progress:after {
  font-size: 1.7em !important;
  box-shadow: 0px 0px 25px 0px black;
  border-radius: 50%;
}

.video-js .vjs-load-progress {
  background: rgba(193, 59, 57, 0.8) !important;
  height: 7px !important;
}

.video-js .vjs-play-progress {
  background: #c12a2c !important;
  height: 7px !important;
}

.video-js .vjs-slider {
  background: rgba(193, 59, 57, 0.8) !important;
  height: 7px !important;
  border-radius: 10px;
  top: -40px;
}

.video-js .vjs-load-progress div {
  background-color: transparent !important;
}

.vjs-progress-control:before {
  display: block;
  content: '';
  border-top: 2px solid #fff;
  position: absolute;
  top: -65px !important;
  width: 120% !important;
  left: -10% !important;
}

/* /video */
/* form-call popup*/
#call_success {
  padding: 40px;
  min-width: 430px;
}

#call_success .call-success .call_success .call-title {
  text-align: center;
  color: #000;
  font-size: 40rem;
  font-family: calibri;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}

#call_success .call-success .call_success .call-subtitle {
  font-size: 24rem;
  font-family: calibri;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

/* /form-call popup*/
.error {
  color: #f00 !important;
}

.error::-webkit-input-placeholder {
  color: #f00 !important;
}

.error::-moz-placeholder {
  color: #f00 !important;
}

.error:-moz-placeholder {
  color: #f00 !important;
}

.error:-ms-input-placeholder {
  color: #f00 !important;
}

.red_section_button a {
  border: 2px solid #fff;
  transition: background-color 500ms ease, color 500ms ease;
  -moz-transition: background-color 500ms ease, color 500ms ease;
  -webkit-transition: background-color 500ms ease, color 500ms ease;
  -ms-transition: background-color 500ms ease, color 500ms ease;
}

.red_section_button a:hover {
  background-color: #fff !important;
  color: #ec4d4a !important;
  border: 2px solid #fff;
}

/* our works */
.our-works-wrap {
  padding-top: 5%;
  position: relative;
  overflow: hidden;
  min-width: 700px;
  padding-bottom: 9.4%;
  z-index: 1;
  width: 100%;
}

.our-works-wrap .our-works {
  max-width: 1690px;
  width: 100%;
  margin: 0 auto;
  z-index: 9999;
  position: relative;
}

.our-works-wrap .our-works .title_top {
  padding-bottom: 20px;
  padding-left: 0;
}

.our-works-wrap .our-works .our-work-item {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 0;
  -webkit-perspective: 1700px;
  perspective: 1700px;
  -webkit-perspective-origin: 0 50%;
  perspective-origin: 0 50%;
}

.our-works-wrap .our-works .our-work-item img {
  max-width: 100%;
}

.our-works-wrap .our-works .our-work-item .our-work-desc {
  position: absolute;
  background-color: #353535;
  top: 0px;
  z-index: 9999;
  width: 50%;
  min-height: 100%;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  transition: transform 500ms ease;
  -moz-transition: transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  -ms-transition: transform 500ms ease;
  max-height: 212px;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
}

.our-works-wrap .our-works .our-work-item .our-work-desc h2 {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Gotham',sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 22rem;
  margin-bottom: 20px;
}

.our-works-wrap .our-works .our-work-item .our-work-desc p {
  font-family: 'Roboto',sans-serif;
  font-size: 18rem;
  color: #fff;
  word-wrap: break-word;
  padding-right: 10px;
}

.our-works-wrap .our-works .our-work-item .our-work-desc a {
  position: absolute;
  bottom: 10px;
  right: 20px;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-size: 14rem;
  text-decoration: none;
  color: #fff;
}

.our-works-wrap .our-works .our-work-item .our-work-desc a:hover .our-works-link-text:after {
  width: 100%;
}

.our-works-wrap .our-works .our-work-item .our-work-desc a:hover .our-works-link-icon {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.our-works-wrap .our-works .our-work-item .our-work-desc a .our-works-link-text {
  font-size: 14rem;
}

.our-works-wrap .our-works .our-work-item .our-work-desc a .our-works-link-text:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  height: 1px;
  background-color: #fff;
  width: 0;
  transition: width 300ms ease;
}

.our-works-wrap .our-works .our-work-item .our-work-desc a .our-works-link-icon {
  font-size: 14rem;
  display: block;
  position: absolute;
  right: -17px;
  top: calc(50% - 9rem);
  width: 12px;
  height: 10px;
  color: white;
  -webkit-transform-origin: 50% 50%;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -webkit-animation-name: thumb;
  animation-name: thumb;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 750ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.our-works-wrap .our-works .our-work-item.active-work {
  z-index: 9999;
}

.our-works-wrap .our-works .our-work-item.active-work:hover .our-work-desc {
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  z-index: 9999;
}

.our-works-wrap:after {
  content: '';
  position: absolute;
  left: -104%;
  width: 100%;
  height: 6000px;
  top: 55%;
  background: #00BCBC;
  z-index: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform: rotate(-94deg);
  transform: rotate(-94deg);
  -moz-transform: rotate(-94deg);
  -ms-transform: rotate(-94deg);
  z-index: 1;
}

/* /our works */
/* rec-more */
#rec_more {
  max-width: 640px;
  padding: 20px;
}

#rec_more .rec-more-top {
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

#rec_more .rec-more-top .rec-more-img-wrap {
  display: table-cell;
  width: 27%;
}

#rec_more .rec-more-top .rec-more-title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 35px;
  padding-right: 50px;
}

#rec_more .rec-more-top .rec-more-title .rec-more-name {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#rec_more .rec-more-top .rec-more-title .rec-more-post {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#rec_more .rec-more-desc {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/* /rec-more */
