/* promoblock */
.promoblock-wrapper {
  background-color: #da4643;
  padding: 10px;
}

.promoblock-item {
  display: inline-block;
}

@-webkit-keyframes dasharray {
  100% {
    stroke-dasharray: 300 0;
  }
}

@keyframes dasharray {
  100% {
    stroke-dasharray: 300 0;
  }
}

/* /promoblock */
