/* all styles */
/* /all styles */
/* recomendations */
.recomendations-main {
  position: relative;
  padding-top: 152.25rem;
}

.recomendations-main:before, .recomendations-main :after {
  content: '';
  display: block;
  position: absolute;
}

/* /recomendations */
