.header{
    .header-wrap{ width: 100%; box-sizing: border-box; max-width: 1920;
        .flow-form{overflow: hidden; height: 34vw; width: 100%;  box-sizing: border-box; position: relative;
            .class-hide{visibility: hidden; height: 0;}
            .inside-image{width:100vw;margin-top: 0;}
            .inside-swf{ width:100vw; margin-top:-22vw;
                .box-swf{
                    embed{ width: 100vw; height: 100vw;}
                }
            }
        }
        .box-main-menu{ position: absolute; top: 32px ; left: 0; width: 100%;
            .logo{ display: inline-block; margin-left: 41px; padding-top: 20px;}
            nav{display: inline-block; vertical-align: top; margin-left: 21.6%; padding-top: 25px;;
                ul li{ display: inline-block; text-transform: uppercase; padding-right: 50px;
                    &:nth-child(4n){ margin-left: 20px;
                        &:before { content: '/'; display: inline-block;margin-left: 66px; color: white; font-family: 'Roboto'; font-size: 16rem; margin-right: 45px;}
                    }

                    &:after  { content: '/'; color: white; font-family: 'Roboto'; font-size: 16rem; display: inline-block; margin-left: 50px;}
                    &:last-child{padding-right: 0px;  &:after{ content: ''; }  }
                    a{text-decoration: none; color: white; transition:300ms ease color;-webkit-transition:300ms ease color;
                        &:hover, &.active, &:active, &:focus{color:#BC0EBF;text-decoration: none;outline:none;}
                }
                }
            }
            .socials{float: right; margin-right: 1.25%;padding-top: 10px;
                a{background: none; text-decoration: none;}
                    .soc-set{width: 50px; height: 50px; display: inline-block; margin-left: -4px; vertical-align: top;
                }
                    .vk{background-color: #227da7;transition:300ms ease background-color;-webkit-transition:300ms ease background-color;
                    &:hover, &.active, &:active, &:focus{background-color:#ffbd27;text-decoration: none;outline:none;}
                        img{padding-top: 20px; padding-left: 16px;}
                    }
                    .facebook{background-color: #095375;transition:300ms ease background-color;-webkit-transition:300ms ease background-color;
                    &:hover, &.active, &:active, &:focus{background-color:#ffbd27;text-decoration: none;outline:none;}
                        img{padding-top: 16px; padding-left: 21px;}
                    }
                    .google-plus{background-color: #c63632;transition:300ms ease background-color;-webkit-transition:300ms ease background-color;
                    &:hover, &.active, &:active, &:focus{background-color:#ffbd27;text-decoration: none;outline:none;}
                        img{padding-top: 19px; padding-left: 15px;}
                     }
            }

        }
    }
}



@media screen and (min-width: 1920px){

}
@media screen and (min-width: 1366px){
}

@media screen and (min-width: 1280px){

}
@media screen and (max-width: 1024px){
}
@media screen and (max-width: 992px){
}
@media screen and (max-width: 767px){
}
@media screen and (max-width: 666px){
}
@media screen and (max-width: 479px){
}
@media screen and (max-width: 320px){
}