.blue-form-wrapper{ padding:5%;position:relative;min-width:700rem;padding-bottom: 9.4%;z-index: 1; margin-top: -138rem;
	.wrapper-blue{width: 100%; max-width: 1460rem;margin: 0 auto;position: relative;z-index: 9999;}
	.blue-form{padding-top: 165rem;}
	.blue-from-imageblock{position: absolute;width: 100%;height: 100%;
		.shapes-wrap{position: absolute;border: 15rem solid #007473;width: 51.7%;height: 95.6%;top: -10.4%;left: 12.7%;
			.shapes{background-image: url(../images/DESIGN.png);background-repeat: no-repeat; background-position: 87% 9%;width: 100%;height: 100%;}
		}
		.illustration{position: absolute;width: 100%;height: 100%;
			.mac{position: absolute;top: -3.6%;left: 3.2%;}
			.imac{position: absolute;bottom: 3.7%;left: 38%;}
			.imac-smaller{position: absolute;left: 31.4%;bottom: 6.4%;}
		}
	}
	.form-blue{float: right;margin-right: 50rem;}
	.form-logo{position: relative;padding-left: 76rem;box-sizing: border-box;margin-bottom: 3rem;
		embed{float: right;}
	}
	form{
		.input-wrap{position: relative;margin-bottom: 34rem;
			input{background-color: transparent;border: 0;border-bottom: 2rem solid #fff; font-family: 'roboto'; font-size: 18rem; text-transform: uppercase;outline: none;padding: 0rem 23rem 10rem 23rem;width: 100%;color: #fff;    box-sizing: border-box;
				&::-webkit-input-placeholder{color:#fff;}
				&::-moz-placeholder {color:#fff;}
				&:-moz-placeholder {color:#fff;}
				&:-ms-input-placeholder {color:#fff;}
			}
			button{float: right;background-color: transparent;border: 2rem solid #fff; padding: 20rem 65rem 16rem 65rem;font-family: 'roboto'; font-size: 18rem; text-transform: uppercase;outline: none;color: #fff;border-radius: 4rem;cursor: pointer;transition: background-color 500ms ease , color 500ms ease; -moz-transition: background-color 500ms ease , color 500ms ease; -webkit-transition: background-color 500ms ease , color 500ms ease; -ms-transition: background-color 500ms ease , color 500ms ease;
				span{display: inline-block;width: 100%;}
				&:hover{background-color: #fff;color: #00BCBC;}
			}
			&:before{display: block;content: '';position: absolute;width: 2rem;height: 3rem;background-color: #fff;bottom: 2rem;left: 0rem;}
		}
		.button-submit{
			&:before{display: none;}
		}
		.last-input{margin-bottom: 60rem;}
	}
	&:after{content: '';position: absolute;left: -105%;width: 100%;height: 8000rem;top: 138rem;background: #00BCBC;z-index: 0;-webkit-transform-origin: 100% 0;transform-origin: 100% 0%;-moz-transform-origin: 100% 0%;-ms-transform-origin: 100% 0%;-webkit-transform: rotate(-92deg);transform: rotate(-92deg);-moz-transform: rotate(-92deg);-ms-transform: rotate(-92deg);}
}

/* animation */

.input-wrap{opacity: 0; transition:opacity 500ms ease; -ms-transition:opacity 500ms ease; -moz-transition:opacity 500ms ease; -webkit-transition:opacity 500ms ease;
	&.animated {opacity: 1;}
}
.illustration{
	.mac{opacity: 0;transform:translate(-300%,50%);-webkit-transform:translate(-300%,50%);-moz-transform:translate(-300%,50%);-ms-transform:translate(-300%,50%);transition:opacity 3s ease, transform 1s ease;-webkit-transition:opacity 3s ease, transform 1s ease;-moz-transition:opacity 3s ease, transform 1s ease;-ms-transition:opacity 3s ease, transform 1s ease;transition-delay: 1s;-moz-transition-delay: 1s; -webkit-transition-delay: 1s; -ms-transition-delay: 1s;
		&.animated{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
	}
	.imac{opacity: 0;transform:translate(50%,50%);-webkit-transform:translate(50%,50%);-moz-transform:translate(50%,50%);-ms-transform:translate(50%,50%);transition:opacity 1s ease, transform 1s ease;-webkit-transition:opacity 1s ease, transform 1s ease;-moz-transition:opacity 1s ease, transform 1s ease;-ms-transition:opacity 1s ease, transform 1s ease;
		&.animated{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
	}
	.imac-smaller{opacity: 0;transform:translate(30%,50%);-webkit-transform:translate(30%,50%);-moz-transform:translate(30%,50%);-ms-transform:translate(30%,50%);transition:opacity 1s ease, transform 1s ease;-webkit-transition:opacity 1s ease, transform 1s ease;-moz-transition:opacity 1s ease, transform 1s ease;-ms-transition:opacity 1s ease, transform 1s ease;transition-delay: 100ms;-moz-transition-delay: 100ms; -webkit-transition-delay: 100ms; -ms-transition-delay: 100ms;
		&.animated{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
	}
}

.vjs-control-text{transition: transform 1s ease; -moz-transition: transform 1s ease; -webkit-transition: transform 1s ease; -ms-transition: transform 1s ease;}

.our-work-item{opacity: 0; transition:opacity 500ms ease; -ms-transition:opacity 500ms ease; -moz-transition:opacity 500ms ease; -webkit-transition:opacity 500ms ease;
	&.animated{opacity: 1;}
}

/* /animation */

/* typed */

.typed-wrap{top: -163px;position: absolute;left: 17%;color: #fff;}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* /typed */

/* video */

.red-video-block{padding-left: 5rem;}
.my-video-dimensions{width: 100%!important;height: 387rem!important}
.video-js .vjs-big-play-button{height: 116rem;width: 118rem;top: 123rem;right: 10rem;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border: 5rem solid #fff;background-image: url(../images/play-button.png);background-position: 55% 50%;background-repeat: no-repeat;position: absolute;top: 30%;left: 65%;
	&:before{content: '';}
	&:after{width: 50rem;height: 50rem;border: 5rem solid #fff;border-radius: 50%;position: absolute;top: 28rem;left: 28%;content: '';-webkit-animation: myOrbit 4s linear infinite;-moz-animation: myOrbit 4s linear infinite;-o-animation: myOrbit 4s linear infinite;}
	&:hover:after{-webkit-animation: myOrbit 4s linear infinite;-moz-animation: myOrbit 4s linear infinite;-o-animation: myOrbit 4s linear infinite;-webkit-animation-play-state: running;-moz-animation-play-state:running;-ms-animation-play-state:running;}
	@-webkit-keyframes myOrbit {
	    from { -webkit-transform: rotate(0deg) translateX(50rem) rotate(0deg); }
	    to   { -webkit-transform: rotate(360deg) translateX(50rem) rotate(-360deg); }
	}
	@-moz-keyframes myOrbit {
	    from { -moz-transform: rotate(0deg) translateX(50rem) rotate(0deg); }
	    to   { -moz-transform: rotate(360deg) translateX(50rem) rotate(-360deg); }
	}
	@-o-keyframes myOrbit {
	    from { -o-transform: rotate(0deg) translateX(50rem) rotate(0deg); }
	    to   { -o-transform: rotate(360deg) translateX(50rem) rotate(-360deg); }
	}

	@keyframes myOrbit {
	    from { transform: rotate(0deg) translateX(50rem) rotate(0deg); }
	    to   { transform: rotate(360deg) translateX(50rem) rotate(-360deg); }
	}
}
	.vjs-control-text{animation: pulse 1s linear infinite;}
@keyframes pulse {
    from {-ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); opacity: 1;}
    to {-ms-transform: scale(1.3,1.3); -webkit-transform: scale(1.3,1.3);transform: scale(1.3,1.3);opacity: 0;}
}
@-webkit-keyframes pulse {
    from {  -ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1);opacity: 1;}
    to { -ms-transform: scale(1.3,1.3); -webkit-transform: scale(1.3,1.3);  transform: scale(1.3,1.3); opacity: 0;}
}
	.vjs-big-play-button .vjs-control-text{position: relative;text-indent: -9999rem;display: block;width: 129rem;height: 127rem;border-radius: 50%;border: 1rem solid red;overflow: visible;top: -9rem;left: -10rem;
		&:before{display: block; content: ' ';position: absolute;width: 148rem;height: 145rem;border-radius: 50%;border: 1rem solid #686868;top: -8%;left: -8%;}
		&:after{display: block; content: ' ';position: absolute;width: 160rem;height: 157rem;border-radius: 50%;border: 1rem solid #545454;top: -13%;left: -13%;}
	}
	.video-desc {position: absolute;font-family: 'Roboto', sans-serif;font-weight: 700;font-size: 45rem;text-transform: uppercase;width: 30%;line-height: 1.2;top: 30%;left: 5%;}
	.vjs-play-control, .vjs-fullscreen-control,.vjs-volume-menu-button,.vjs-remaining-time{display: none!important;}
	.vjs-progress-control{width: 75%!important; margin: 0 auto!important;flex:inherit!important;}
	.vjs-control-bar{background-color: transparent!important;}
	.video-js .vjs-play-progress:before, .video-js .vjs-play-progress:after{font-size: 1.7em!important;-webkit-box-shadow: 0rem 0rem 25rem 0rem rgba(0,0,0,1);-moz-box-shadow: 0rem 0rem 25rem 0rem rgba(0,0,0,1);box-shadow: 0rem 0rem 25rem 0rem rgba(0,0,0,1);border-radius: 50%;}
	.video-js .vjs-load-progress{    background: rgba(193, 59, 57, 0.8)!important;    height: 7rem!important;}
	.video-js .vjs-play-progress{background: rgba(193, 42, 44, 1)!important;    height: 7rem!important;}
	.video-js .vjs-slider{ background: rgba(193, 59, 57, 0.8)!important;    height: 7rem!important; border-radius: 10rem; top: -40rem;}
	.video-js .vjs-load-progress div{background-color: transparent!important;}
	.vjs-progress-control:before{display: block;content: ''; border-top: 2rem solid #fff;position: absolute;    top: -65rem!important; width: 120%!important;left: -10%!important;}

/* /video */

/* form-call popup*/

#call_success{padding:40rem; min-width: 430rem;
	.call-success{
		.call_success{
			.call-title{text-align: center; color: #000; font-size: 40rem; font-family: calibri;text-transform: uppercase;margin: 0;letter-spacing: -0.5rem;margin-bottom: 30rem;}
			.call-subtitle{font-size: 24rem; font-family: calibri; letter-spacing: -0.5rem; margin-bottom: 20rem; color: #000;text-align: center;}
		}
	}
}

/* /form-call popup*/

.error{color: #f00!important;
	&::-webkit-input-placeholder{color:#f00!important;}
	&::-moz-placeholder {color:#f00!important;}
	&:-moz-placeholder {color:#f00!important;}
	&:-ms-input-placeholder {color:#f00!important;}
}
.red_section_button{
	a{border: 2rem solid #fff;transition: background-color 500ms ease , color 500ms ease; -moz-transition: background-color 500ms ease , color 500ms ease; -webkit-transition: background-color 500ms ease , color 500ms ease; -ms-transition: background-color 500ms ease , color 500ms ease;
		&:hover{background-color: #fff!important; color: #ec4d4a!important; border: 2rem solid #fff;}
	}
}

/* our works */

.our-works-wrap{padding-top:5%;position:relative;overflow:hidden;min-width:700rem;padding-bottom: 9.4%;z-index: 1;width: 100%;
	.our-works{max-width: 1690rem;width: 100%;margin: 0 auto;z-index: 9999;position: relative;
		.title_top{padding-bottom: 20rem;padding-left: 0;}
		.our-work-item{width:25%;float: left;position: relative;z-index:0;-webkit-perspective: 1700rem;-moz-perspective: 1700rem;perspective: 1700rem;-webkit-perspective-origin: 0 50%;-moz-perspective-origin: 0 50%;perspective-origin: 0 50%;
			img{max-width: 100%;}
			.our-work-desc{position: absolute;background-color: #353535;top: 0rem;z-index:9999;width: 50%;min-height: 100%;padding-left: 10rem;padding-top: 10rem;box-sizing:border-box;transition: transform 500ms ease; -moz-transition: transform 500ms ease; -webkit-transition: transform 500ms ease; -ms-transition: transform 500ms ease;max-height: 212rem;transform-origin: 0 0;-ms-transform-origin: 0 0;-webkit-transform-origin: 0 0;-moz-transform-origin: 0 0;transform: rotateY(-90deg);-ms-transform: rotateY(-90deg);-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg);
				h2{text-align: left;text-transform: uppercase;font-family: 'Roboto',sans-serif; font-weight: 900;color: #fff;font-size: 22rem;margin-bottom: 20rem;}
				p{font-family: 'Roboto',sans-serif;font-size: 18rem;color: #fff;word-wrap: break-word;padding-right: 10rem;}
				a{position: absolute;bottom: 10rem; right: 20rem;text-transform: uppercase;font-family: 'Roboto',sans-serif;font-size: 14rem;text-decoration: none;color: #fff;
					&:hover{
						.our-works-link-text:after{width: 100%;}
						.our-works-link-icon{animation-play-state: running;-webkit-animation-play-state: running;}
					}
					.our-works-link-text{font-size: 14rem;
						&:after{content: '';display: block;position: absolute;left: 0;top: 100%;height: 1rem;background-color: #fff;width: 0;transition: width 300ms ease;}
					}
					.our-works-link-icon{font-size: 14rem;display: block;position: absolute;right: -17rem;top: calc(50% - 9rem);width: 12rem;height: 10rem;color: white;-webkit-transform-origin: 50% 50%;animation-play-state: paused;-webkit-animation-play-state: paused;-webkit-animation-name: thumb;animation-name: thumb;-webkit-animation-duration: 750ms;animation-duration: 750ms;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: linear;animation-timing-function: linear;-webkit-animation-name: thumb;-webkit-animation-duration: 750ms;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;
					}

				}
			}
			&:hover{z-index: 9999;
				.our-work-desc{transform: rotateY(0deg);-ms-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-webkit-transform: rotateY(0deg);z-index: 9999;}
			}
		}
	}
	&:after{content: '';position: absolute;left: -104%;width: 100%;height: 6000rem;top: 55%;background: #00BCBC;z-index: 0;-webkit-transform-origin: 100% 0;transform-origin: 100% 0%;-moz-transform-origin: 100% 0%;-ms-transform-origin: 100% 0%;-webkit-transform: rotate(-94deg);transform: rotate(-94deg);-moz-transform: rotate(-94deg);-ms-transform: rotate(-94deg);z-index: 1;}
}

/* /our works */

/* rec-more */

.rec-more{max-width: 640rem; padding: 20rem;
	.rec-more-top{width: 100%;padding-bottom: 50rem;border-bottom: 1rem solid #ccc;margin-bottom: 50rem;
		.rec-more-img-wrap{display: table-cell;width: 27%;}
		.rec-more-title{display: table-cell;vertical-align: middle; padding-left: 35rem;padding-right: 50rem;
			.rec-more-name{font-weight: 700;font-size: 18rem;font-family: 'Roboto', sans-serif; }
			.rec-more-post{font-weight: 400;font-size: 18rem;font-family: 'Roboto', sans-serif;}
		}
	}
	.rec-more-desc{font-weight: 400;font-size: 18rem;font-family: 'Roboto', sans-serif;line-height: 1.4;}
}

/* /rec-more */

/* red section */

.logo-1024{display: none;}

/* /red section */

/* promo text */

.device-text-promo{display: none;}
.form-logo-device{display: none;}
.logo-device{display: none;}

/* /promo text */
.red_section{.red_section_middle_wrap{.red_section_logo{.logo-device{display:none;}}}}
@media screen and (max-width: 1600px){
.typed-wrap{top: -163px;}
}
@media screen and (max-width: 1366px){
	.typed-wrap{top: -160px;left: 21%;}
	.video-desc{width: 36%;}
}

@media screen and (max-width: 1280px){
	.typed-wrap{top: -155px;left: 22%;}
	.red_section .red_section_logo{padding-left: 0;}
	.red_section .red_section_middle_aside.aside_left .red_section_button{text-align: center;}
	.blue-form-wrapper{
		.form-blue{margin-right: 0;}
		.form-logo{padding-left: 0;}
	}
}


@media screen and (max-width: 1024px){
.our-works-wrap .our-works .title_top{display: none;}
/* red section */

	.red_section {min-height: 1rem;background-color: #EC4D4B;
		&:after{display: none;}
		.red_section_middle_wrap{padding-top: 70rem;
			.red_section_logo{padding-left: 0;
				.logo-device{display: block;
					p{font-family: 'Roboto'; font-weight: 900; font-size: 52rem;color: #fff;text-align: center;
						span{display: block;font-family: 'Roboto', sans-serif; font-size: 18rem;text-align: center;color: #fff;text-transform: uppercase;font-weight: normal;}
					}
				}
				embed{display: none;}
			}
			.red_section_middle_as{margin-top: 0; width: 100%;}
			.red_section_middle_aside.aside_left {border: 0;padding: 0;width: 100%;height: inherit;
				p{display: none;}
				.red_section_button{text-align: center;
					a{border-radius: 5rem;font-size: 19rem;}
				}
			}
			.red_section_middle_aside.aside_right{display: none;}
			.red_section_chrome{display: none;}
		}
	}
	.device-text-promo{display: block;font-size: 21rem;color: #fff;line-height: 22rem;padding: 20rem 5%;text-align: center;font-weight: normal;}

/* red section */

/* blue form */

.blue-form-wrapper {
	.form-logo{ padding-left: 0;
		embed{width: 488rem;max-width: 100%;}
	}
	form .input-wrap{text-align: right;}
	.blue-from-imageblock {top: 37%;
		.shapes-wrap{width: 54.7%; height: 74.6%;top: 0;	left: 0;
			.shapes{background-size: 100%;}
		}
		.illustration {
			.mac{top: 5%;left: -5%;width: 341rem;
				embed{max-width: 100%;}
			}
			.imac{bottom: 27.7%;left: 26%;width: 134rem;
				embed{max-width: 100%;}
			}
			.imac-smaller{width: 52rem;left: 20.4%;bottom: 27.4%;
				embed{max-width: 100%;}
			}
		}
	}
}


/* /blue form */
.typed-wrap{top: -46%}
}

@media screen and (max-width: 959px){
	.blue-from-imageblock {display: none;}
	.our-works-wrap .our-works .our-work-item{width: 61%; margin: 0 auto;float: none;}
	.our-works-wrap .our-works .our-work-item.active-work:hover .our-work-desc{width: 70%;}
	.our-works-wrap{min-width: 1px;
		&:after{left: 0;transform: rotate(0deg);top: 50%;}
	}

}

@media screen and (max-width: 666px){

	.our-works-wrap .our-works .our-work-item{width: 85%;}
	/* red section */
	.red_section {
		.red_section_middle_wrap{
			.red_section_logo{
				.logo-device{
					p{ font-size: 37rem;text-align: left;padding: 0 10%;
						span{font-size: 17rem;text-align: left;}
					}
				}
			}
			.red_section_button{
				a{font-size: 15rem!important;width: 80%;padding: 20rem 0rem!important;}
			}
		}
	}
	.device-text-promo{display: none;display: none;}
	.red_section .red_section_middle_wrap{padding-top: 15rem;}

	/* /red section */

	/* blue form */
	.blue-form-wrapper{min-width: 1rem;background-color: #00BCBC;margin-top: 0;
		.form-blue{margin-right: 0;}
		form .input-wrap {text-align: center;
			button{float: none;}
		}
		&:after{display: none;}
	}
	.form-logo{display: none;}
	.form-logo-device{display: block;
		p{font-size: 45rem; font-family: 'Roboto', sans-serif; font-weight: 500; text-transform: uppercase;color: #fff;text-align: left;padding: 0 5%;padding-bottom: 30rem;}
	}


	/* /blue form */
}

@media screen and (max-width: 479px){
	  .blue-form-wrapper{  background-color: #00BCBC;
	  	&:before{display: block;content: '';border: 20px solid #007473;position: absolute;top: 50%;transform:translateY(-50%);width: 53%;height: 85%;z-index: 3;left: -50%;}
	  }
	  .form-logo-device p{font-size: 25rem}
	  .blue-form-wrapper .blue-form{padding-top: 20rem;}
}