/* all styles */



/* /all styles */

/* recomendations */

.recomendations-main{position: relative;padding-top:152.25rem;
    &:before, :after{content: '';display: block;position: absolute;}
}

/* /recomendations */