/* all styles */

.mega-main-wrapper{overflow: hidden;}
.wrapper-main{max-width: 1920px;margin:0 auto;}

/* /all styles */

/* recomendations */

.recomendations-wrapper{position: relative;padding-top:152.25rem;padding-bottom: 100rem;
    &:before, &:after{content: '';display: block;position: absolute;z-index: 0;}
    &:after{top: 152.25rem;left: 0;bottom: 0;right: 0;background-color: #00bcbc;}
    &:before{width: 100%;height: 8000px;left:-105%;top:158.25rem;transform-origin:100% 0;-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;background-color: #00bcbc;transform:rotate(-92deg);-webkit-transform:rotate(-92deg);-moz-transform:rotate(-92deg);-ms-transform:rotate(-92deg);}
    .title_top{position: relative;z-index: 1;top: -76.125rem;
        span{display:inline-block;opacity: 0;transform:translate(0, 100%);-webkit-transform:translate(0, 100%);-ms-transform:translate(0, 100%);-moz-transform:translate(0, 100%);transition:opacity 500ms ease, transform 300ms ease;-webkit-transition:opacity 500ms ease, -webkit-transform 300ms ease;-moz-transition:opacity 500ms ease, transform 300ms ease;-ms-transition:opacity 500ms ease, transform 300ms ease;
            &.animated{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
        }
    }
}
.recomendation-wrapper-main{max-width: 1690.33rem;margin:0 auto;width: 100%;}

.recomendations-main{padding:0 84px;}
.recomendation-item{overflow: hidden;
    &:focus{outline:none;}
}
.recomendation-slider{z-index: 1;
    &:focus{outline:none;}
    .recomendation-comment{display: inline-block;width: calc(25.33% - 3rem);vertical-align: top;margin-right: 12%;margin-bottom: 45.75rem;font-size: 18rem;color:#fff;line-height: 24rem;opacity: 0;transition:opacity 500ms ease, transform 300ms ease;-webkit-transition:opacity 500ms ease, transform 300ms ease;-moz-transition:opacity 500ms ease, transform 300ms ease;-ms-transition:opacity 500ms ease, transform 300ms ease;
        &:nth-child(3n+1){transform:translate(-25%,0);-webkit-transform:translate(-25%,0);-moz-transform:translate(-25%,0);-ms-transform:translate(-25%,0);}
        &:nth-child(3n+2){transform:translate(0, 25%);-webkit-transform:translate(0, 25%);-moz-transform:translate(0, 25%);-ms-transform:translate(0, 25%);}
        &:nth-child(3n+3){margin-right: 0;transform:translate(25%,0);-webkit-transform:translate(25%,0);-moz-transform:translate(25%,0);-ms-transform:translate(25%,0);}
        &.animated{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);
            &:nth-child(3n+1){transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
            &:nth-child(3n+2){transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
            &:nth-child(3n+3){transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}

        }
    }
    .slick-arrow{position: absolute;top: calc(50% - 37rem);width: 74rem;height: 74rem;background-color: #fff;border-radius: 50%;font-size: 0;border:none;cursor: pointer;opacity:0;transition:background-color 300ms ease, transform 300ms ease 500ms, opacity 500ms ease 500ms;-webkit-transition:background-color 300ms ease, transform 300ms ease 500ms, opacity 500ms ease 500ms;-moz-transition:background-color 300ms ease, transform 300ms ease 500ms, opacity 500ms ease 500ms;-ms-transition:background-color 300ms ease, transform 300ms ease 500ms, opacity 500ms ease 500ms;
        &:focus{outline:none;}
        &:after{content: '';position: absolute;display: block;top:calc(50% - 12rem);left: calc(50% - 14.5rem);border-style:solid;transition:border-color 300ms ease;-webkit-transition:border-color 300ms ease;-moz-transition:border-color 300ms ease;-ms-transition:border-color 300ms ease;}
        &.slick-prev{left: -74rem;transform:translate(-100%,0);-webkit-transform:translate(-100%,0);-moz-transform:translate(-100%,0);-ms-transform:translate(-100%,0);
            &:after{border-width: 12rem 21rem 12rem 0;border-color:transparent #00bcbc transparent transparent;}
        }
        &.slick-next{right: -74rem;transform:translate(100%,0);-webkit-transform:translate(100%,0);-moz-transform:translate(100%,0);-ms-transform:translate(100%,0);
            &:after{border-width: 12rem 0 12rem 21rem;border-color:transparent transparent transparent #00bcbc;left:calc(50% - 6.5rem);}
        }
        &:hover{background-color: orange;
            &.slick-prev{
                &:after{border-color:transparent #fff transparent transparent;}
            }
            &.slick-next{
                &:after{border-color:transparent transparent transparent #fff;}
            }
        }
    }
    &.animated{
        .slick-arrow{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
    }

    .recomendation-item-device{display: none;
        .recomendation-comment{width: 100%;margin-right: 0;margin-bottom: 0;}
    }

}
.recomendation-item{padding:0 40px;}
.recomendation-user{margin-bottom: 15.25rem;
    .recomendation-user-wrap{display: inline-block;width: 158px;height: 158px;border-radius: 50%;overflow: hidden;}
}
.recomendation-title{padding-bottom:10px;border-bottom: 1px solid #00a6a5;margin-bottom: 10px;min-height: 83rem;
    .recomendation-name{font-weight: 700;}
}
.recomendation-content{min-height: 100rem;margin-bottom: 10rem;}
.recomendation-link{text-align: right;
    a{display: inline-block;font-size: 16px;font-weight: 700;color:#fff;text-decoration: none;text-transform: uppercase;
        padding-right: 25px;position: relative;
        .recomendation-link-icon{display: block;position: absolute;right: 0;top: calc(50% - 6rem);width: 12px;height: 10px;background-image:url(../images/link-arrow.png);-webkit-transform-origin:50% 50%;animation-play-state: paused;-webkit-animation-play-state: paused;animation-name: thumb;animation-duration: 750ms;animation-iteration-count: infinite;animation-timing-function: linear;-webkit-animation-name: thumb;-webkit-animation-duration: 750ms;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;
        }
        .recomendation-link-text{display: inline-block;position: relative;
            &:after{content: '';display: block;position: absolute;left: 0;top: 100%;height: 1px;background-color: #fff;width: 0;transition:width 300ms ease;}
        }
        &:hover{
            .recomendation-link-icon{animation-play-state: running;-webkit-animation-play-state: running;}
            .recomendation-link-text{
                &:after{width: 100%;}
            }
        }


    }
}


@-webkit-keyframes thumb {
    0% { transform:translateX(0px); }
    50% { transform:translateX(-3px);  }
    100% { transform:translateX(0px);  }
}

@-moz-keyframes thumb {
    0% { transform:translateX(0px); }
    50% { transform:translateX(-3px);  }
    100% { transform:translateX(0px);  }
}

@-ms-keyframes thumb {
    0% { transform:translateX(0px); }
    50% { transform:translateX(-3px);  }
    100% { transform:translateX(0px);  }
}

@keyframes thumb {
    0% { transform:translateX(0px); }
    50% { transform:translateX(-3px);  }
    100% { transform:translateX(0px);  }
}

/* /recomendations */

/* outher header */

.sendwich-icon{display: none;width: 27rem;height: 21rem;padding-top:8.5rem;  z-index: 2;
    span{display: block;width: 100%;height: 3rem;background-color: #597273;position: relative;transition:background-color 300ms ease;
        &:before, &:after{content:'';display: block;position: absolute;width: 27rem;height: 3rem;background-color:#597273;left:0;transform-origin:0 50%;transition:left 300ms ease, top 300ms ease, bottom 300ms ease, transform 300ms ease, background-color 300ms ease;}
        &:before{top:-8.5rem;}
        &:after{bottom: -9.5rem;}
    }
    &.active{
        span{background-color:transparent;
            &:before, &:after{left:4rem;background-color: #fff;}
            &:before{top:-8.5rem;transform:rotate(45deg);}
            &:after{bottom:-10.5rem;transform:rotate(-45deg);}
        }
    }
}

.header .header-wrap .box-main-menu .block-nav nav ul li{
    .nav-device{display: none;}
    &.device-nav-item{display: none;}
}

.logo-page-wrap-text{display: none;}

/* outher header */


/* adaptation */

@media screen and (max-width: 1024px){

    .main{position: relative;z-index: 0;}

    /* outher header */
    .other-header-wrap{ position: relative;
        .logo-page-wrap-text{ position: absolute; display: inline-block;vertical-align: middle;color: #303030;font-size: 25rem;font-weight: 900;font-family: 'Gotham';text-transform:uppercase;left: 300rem; top: 58rem; }
    }
    .logo-swf-wrap{display: inline-block;vertical-align: middle;}

    .header{position: relative;z-index: 1;
        .header-wrap{
            .box-main-menu{
                >a{float: left;}
                .socials{display: none;}
                .block-nav{display: block;float: right;margin-left: 0;padding-top: 20rem;margin-right: 15rem;
                    &.block-nav-other-header{padding-top:60rem;}
                    .sendwich-icon{display: block;}
                    nav{position: absolute;top: 0;right: 0;left: 0;z-index: 1;background-color:rgba(0,0,0,.81);padding-top:50rem;padding-bottom:50rem;display: none;
                        ul{
                            li{display: block;margin-right: 0;padding-left: 10%;margin-bottom: 20rem;
                                &:before, &:after{display: none;}
                                &:last-child{margin-bottom: 0;}
                                a{ color:#ffffff;font-size: 52rem;
                                    .nav-table{display: none;}
                                    .nav-device{display: block;}
                                }
                                &.device-nav-item{display: block;
                                    a{color:#ff4e4e;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* /outher header */

    /* main header */

    .header .header-wrap .class-main-headed-fix{top:0;}

    /* /main header */


    /* recomendations */

    .recomendations-wrapper{
        .recomendation-wrapper-main{padding-top: 30rem;}
        &:before{left: -120%;}
        .title_top{display: none;}
    }

    .recomendation-slider{
        .recomendation-item-table{display: none;}
        .recomendation-item-device{display: block;}
        .slick-arrow{opacity: 1;
            &.slick-next{right: 0;}
            &.slick-prev{left: 0;}
        }
    }

    /* /recomendations */

}
@media screen and (max-width: 1024px){

    /* recomendations */

    .recomendations-wrapper:before{left: -125%;}

    .recomendations-wrapper{padding-bottom: 130rem;}

    .recomendation-item{padding: 0 30px;}

    /* /recomendations */

}
@media screen and (max-width: 992px){

    /* recomendations */

    .recomendation-item{padding: 0 10px;}

    .recomendation-slider{
        .slick-arrow{top: auto;top: 100%;margin-top: 20px;
            &.slick-prev{left:calc(50% - 120rem);}
            &.slick-next{right: calc(50% - 120rem);}
        }
        .recomendation-item-device{
            .recomendation-comment-top{display: table;width: 100%;
                .recomendation-user, .recomendation-title{display: table-cell;vertical-align: middle;border-bottom: none;}
                .recomendation-title{padding-left: 10rem;}
            }
        }
    }

    /* /recomendations */

}
@media screen and (max-width: 767px){

    /* outher header */
    .other-header-wrap {position:static;
        .logo-page-wrap-text{font-size: 21rem; margin-top: 10rem; margin-left: 20px;  position:static;}
    }
    .header{

        .header-wrap{
            .box-main-menu{
                .logo{margin-left: 15rem;}

                //.logo-swf-wrap{position: absolute;left: 50%;top: 80rem;transform:translate(-50%,0);}
                .block-nav-other-header, .block-nav{padding-top: 15rem;
                    nav ul li a{font-size: 24rem;}
                }
            }
        }
    }


    /* /outher header */

}
@media screen and (max-width: 666px){


    /* recomendations */

    .recomendations-wrapper:before{left: -145%;}

    .recomendations-main{padding: 0 20rem;}
    .recomendation-item-device{
        .recomendation-title{font-size: 16rem;}
        .recomendation-content{font-size: 17rem;height: auto;}
    }

    /* /recomendations */

}
@media screen and (max-width: 479px){

    /* recomendations */

    .recomendation-slider{
        .slick-arrow{
            &.slick-prev{left:calc(50% - 60rem);}
            &.slick-next{right: calc(50% - 60rem);}
        }
        .recomendation-item-device{
            .recomendation-comment-top{display:block;
                .recomendation-user, .recomendation-title{display: block;}
                .recomendation-title{padding-left: 0rem;border-bottom: 1px solid #00a6a5;}
            }
        }
    }

    /* /recomendations */

}

/* /adaptation */